body    {
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}



/*SVG*/

svg{
    width: 50vw;
    transform: scale(0.60)
}

svg > g#ring1{
    fill: #954C4D;
        
}

svg > g#ring2{
    fill: #738440;
          
}


svg > g#ring3{
    fill: #C36D4B;
           
}

svg > g#ring4{
    fill: #738440;
           
}

svg > g#ring4{
    fill: #954C4D;
           
}

svg > g#ring5{
    fill: #738440;
           
}

svg > g#ring6{
    fill: #C36D4B;
           
}

svg > g#ring7{
    fill: #954C4D;
           
}

svg > g#ring8{
    fill: #738440;
           
}

svg > g#ring9{
    fill: #954C4D;
           
}

svg > g#ring10{
    fill: #C36D4B;
           
}


/*TEKST*/

p:nth-child(1) {
    color: black;
    font-family: "avenir";
    font-size: 2em;
    font-weight: 600;
    position: absolute;
  left:29em;
  top:17em;
    
    
}

p:nth-child(2) {
    color: black;
    font-family: "avenir";
    font-size: 2em;
    font-weight: 600;
    position: absolute;
  left:33em;
  top:17em;
    
}


p:nth-child(3) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
  left:45em;
  top:45.3em;
    
}

p:nth-child(4) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
  left:48em;
  top:46.3em;
    
}

p:nth-child(5) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
  left:51em;
  top:47.3em;
    
}

p:nth-child(6) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
  left:54em;
  top:50.3em;
    
}

p:nth-child(7) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
  left:57em;
  top:51.3em;
    
}

p:nth-child(8) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
    position: absolute;
  left:60em;
  top:52.3em;
    
    
}

p:nth-child(9) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
     position: absolute;
  left:63em;
  top:55.3em;
    
}

p:nth-child(10) {
    color: darkred;
    font-family: "avenir";
    font-size: 13px;
    font-weight: 100;
     position: absolute;
  left:66em;
  top:56.3em;
    
    
}


p:nth-child(11) {
    color: black;
    font-family: "avenir";
    font-size: 10px;
    font-weight: 600;
     position: absolute;
  left:101.5em;
  top:80em;
    
    
}

p:nth-child(12) {
    color: black;
    font-family: "avenir";
    font-size: 10px;
    font-weight: 600;
     position: absolute;
  left:79em;
  top:81em;
    
    
}

p:nth-child(13) {
    color: black;
    font-family: "avenir";
    font-size: 6px;
    font-weight: 700;
     position: absolute;
  left:143em;
  top:148em;
    
    
}

p:nth-child(14) {
    color: black;
    font-family: "avenir";
    font-size: 6px;
    font-weight: 700;
    position: absolute;
  left:128em;
  top:148em;
    
    
}

.animate{
    animation: rotate 2s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360deg)
    }
}

article {
  background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;      
}
